* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url(../img/model-1.jpg) center top;
  background-size: cover;
}
.home__name {
  font-size: 5rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #fff;
}
.home__name--last {
  color: red;
  font-weight: 700;
}

.nav .menu-nav {
  text-align: right;
}
.nav .menu-nav__item {
  display: inline;
  padding-right: 1rem;
}
.nav .menu-nav__item.active > a {
  color: #ff652f;
}
.nav .menu-nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.nav .menu-nav__link:hover {
  color: #146ace;
}

.about__bio-image {
  height: 50vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.about__bio-image p {
  margin-bottom: 2rem;
}
.about__bio {
  width: 80%;
  text-align: center;
}
.about__bio .text-secondary {
  color: #ff652f;
}
.about .jobs {
  width: 60%;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs__job {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ff652f;
}
.about h2, .about h3, .about h6 {
  margin: 0.5rem 0;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects__bio-image {
  height: 30vh;
  width: 100%;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.projects .text-secondary {
  color: #ff652f;
  margin-bottom: 2rem;
}
.projects__items {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.projects__item {
  position: relative;
  border-bottom: 5px solid #ff652f;
  overflow: hidden;
  cursor: pointer;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  height: 100%;
  left: 0;
  width: 100%;
  background-color: #ff652f;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}

body {
  background: #272727;
  color: #fff;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
}
main .social-icons a:hover {
  color: #000;
}
main footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: center;
  padding: 1rem;
  color: #fff;
}/*# sourceMappingURL=main.css.map */